.editor(ng-class="{'edit-mode': editMode, 'read-mode': !editMode}")
    div(ng-if="outdated")
        p This draft has an outdated version

    .medium.wysiwyg(
        tg-autofocus
        ng-show="mode == 'html'"
    )

    textarea.markdown(
        tg-autofocus
        placeholder="{{'COMMON.DESCRIPTION.EMPTY' | translate}}"
        ng-change="changeMarkdown()"
        ng-model="markdown"
        ng-show="mode == 'markdown' && editMode"
    )
    
    .markdown(
        ng-click="editMode = true"
        ng-show="mode == 'markdown' && !editMode"
    )
        p(ng-if="markdown.length") {{markdown}}
        p.markdown-editor-placeholder(ng-if="!markdown.length", translate="COMMON.DESCRIPTION.EMPTY")

    .mode-editor(ng-if="editMode")
        span(
            ng-if="mode=='html'"
            ng-click="setMode('markdown')"
        ) Markdown Mode

        span(
            ng-if="mode=='markdown'"
            ng-click="setMode('html')"
        ) HTML Mode
        
        a.help-markdown(
            ng-if="mode=='markdown'"
            href="https://tree.taiga.io/support/misc/taiga-markdown-syntax/"
            target="_blank"
            title="{{'COMMON.WYSIWYG.MARKDOWN_HELP' | translate}}"
        )
            tg-svg(svg-icon="icon-question")
            span(translate="COMMON.WYSIWYG.MARKDOWN_HELP")        

.tools(ng-if="editMode")
    a(
        tg-loading="saving"
        href="#",
        ng-click="save()"
    )
        tg-svg(svg-icon="icon-save")
    a(
        href="#",
        ng-click="cancel()"
        title="{{ 'COMMON.CANCEL' | translate }}"
    )
        tg-svg(svg-icon="icon-close")
