div
    div(ng-if="tools")
        a(
            tg-loading="saving"
            href="#",
            ng-click="save()"
        )
            tg-svg(svg-icon="icon-save")
        a(
            href="#",
            ng-click="cancel()"
            title="{{ 'COMMON.CANCEL' | translate }}"
        )
            tg-svg(svg-icon="icon-close")

    div(ng-if="outdated")
        p This draft has an outdated version

    .medium(
        ng-class="{'edit-mode': tools}"
        ng-show="mode == 'html'")

    .markdown(
        ng-class="{'edit-mode': tools}"
        ng-show="mode == 'markdown'")
        {{content}}

    .mode-editor(ng-if="tools")
        span(
            ng-if="mode=='html'"
            ng-click="setMode('markdown')"
        ) Markdown Mode

        span(
            ng-if="mode=='markdown'"
            ng-click="setMode('html')"
        ) HTML Mode